aiofiles
aiohttp
async-lru
async-timeout
beautifulsoup4
certifi
gitdb
GitPython
h11
h2
hpack
httpcore
httpx
pillow
pymongo
Pyrogram
PySocks
python_arq
requests
speedtest-cli
spotipy
telegraph
TgCrypto
typing_extensions
urllib3
youtube-search-python
yt-dlp
